**Proyek mini: Analisis Eksplorasi Data Restoran "Tips"**

**menerapkan library seaborn yang telah dipelajari!**

**Latar Belakang:** 

**Anda adalah seorang analis data di sebuah restoran. Manajemen ingin memahami perilaku pelanggan: Apa saja faktor yang memengaruhi besarnya tip? Kapan waktu paling ramai? Adakah perbedaan antara perokok dan bukan perokok?**

---

**Dataset: Gunakan dataset tips yang sudah ada di Seaborn.**

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

#load dataset
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Tahap 1: Eksplorasi Awal
Distribusi Pelanggan:

Buat countplot untuk melihat perbandingan jumlah pelanggan berdasarkan hari (day).

Gunakan hue pada plot di atas untuk melihat juga perbandingan jenis kelamin (sex) di setiap harinya.

---

Tahap 2: Menganalisis Hubungan Antar Variabel
Hubungan Total Tagihan dengan Tip:

Buat sebuah scatterplot (relplot dengan kind="scatter") untuk melihat hubungan antara total_bill (sumbu x) dan tip (sumbu y).

Pada plot yang sama, gunakan hue untuk membedakan antara perokok (smoker) dan bukan perokok.

Selanjutnya, gunakan style untuk membedakan waktu makan (time, yaitu Lunch atau Dinner).

Analisis: Dari plot gabungan ini, kelompok pelanggan mana (misalnya: perokok saat makan malam) yang tampaknya memberikan tip lebih tinggi seiring kenaikan total tagihan?

----

Tahap 3: Membandingkan Performa Antar Kategori
Distribusi Tagihan per Hari:

Buat box plot (catplot dengan kind="box") untuk membandingkan distribusi total_bill di setiap hari (day).

Analisis: Hari apa yang memiliki median tagihan tertinggi? Hari apa yang memiliki rentang tagihan (variasi) paling lebar?