**Proyek : Analisis Lanjutan Data Mobil Bekas**


***Skenario: Data mobil bekas Anda telah diperbarui dengan informasi baru, termasuk jarak tempuh. Manajer Anda meminta Anda untuk menyaring data berdasarkan beberapa kriteria spesifik untuk menemukan mobil yang paling sesuai dengan kebutuhan pelanggan.***

----

**Tantangan Filtering:**
1. Mobil Pilihan Keluarga: Pelanggan mencari mobil dengan transmisi 'Automatic' DAN tahun pembuatan di atas 2018.
- Buat filter untuk kondisi ini dan tampilkan hasilnya.

2. Mobil Budget atau Merek Populer: Pelanggan lain memiliki kriteria yang lebih fleksibel. Mereka mencari mobil yang harganya di bawah 200 juta ATAU mobilnya adalah merek 'Toyota'.
- Buat filter untuk kondisi ini dan tampilkan hasilnya.

3. Mobil "Seperti Baru" (Tantangan Ekstra): Pelanggan ini sangat spesifik. Mereka mencari mobil dengan kriteria:
- Jarak tempuh kurang dari 30.000 km.
- DAN merupakan mobil 'Automatic'.
- DAN harganya di atas 280 juta.

***Buat filter untuk ketiga kondisi ini dan tampilkan mobil mana yang cocok. Petunjuk: Anda bisa menggunakan np.logical_and dua kali, atau cara yang lebih ringkas dengan operator &.***

----

**Data Mobil Bekas yang Diperbarui**

In [28]:
import pandas as pd
import numpy as np

data_mobil_lengkap = {
    'merek': ['Toyota', 'Honda', 'Suzuki', 'Daihatsu', 'Mitsubishi', 'Nissan', 'Mazda'],
    'tahun': [2019, 2020, 2018, 2019, 2021, 2017, 2020],
    'harga_juta': [250, 280, 180, 170, 300, 190, 290],
    'transmisi': ['Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Automatic'],
    'jarak_tempuh_km': [40000, 30000, 60000, 50000, 15000, 70000, 25000]
}

df_mobil_lengkap = pd.DataFrame(data_mobil_lengkap)
df_mobil_lengkap.head()

        merek  tahun  harga_juta  transmisi  jarak_tempuh_km
0      Toyota   2019         250  Automatic            40000
1       Honda   2020         280     Manual            30000
2      Suzuki   2018         180     Manual            60000
3    Daihatsu   2019         170     Manual            50000
4  Mitsubishi   2021         300  Automatic            15000

---

**1.Mobil Pilihan Keluarga: Pelanggan mencari mobil dengan transmisi 'Automatic' DAN tahun pembuatan di atas 2018**
- Buat filter untuk kondisi ini dan tampilkan hasilnya.

In [29]:
mobil_keluarga = np.logical_and(df_mobil_lengkap["transmisi"] == "Automatic", df_mobil_lengkap["tahun"] > 2019)
df_mobil_keluarga = df_mobil_lengkap[mobil_keluarga]
df_mobil_keluarga

        merek  tahun  harga_juta  transmisi  jarak_tempuh_km
4  Mitsubishi   2021         300  Automatic            15000
6       Mazda   2020         290  Automatic            25000

---

**2.Mobil Budget atau Merek Populer: Pelanggan lain memiliki kriteria yang lebih fleksibel. Mereka mencari mobil yang harganya di bawah 200 juta ATAU mobilnya adalah merek 'Toyota'.**
- Buat filter untuk kondisi ini dan tampilkan hasilnya.

In [30]:
flexible_customer = np.logical_or(df_mobil_lengkap["harga_juta"] < 200, df_mobil_lengkap["merek"] == "Toyota")
df_flexible_customer = df_mobil_lengkap[flexible_customer]
df_flexible_customer

      merek  tahun  harga_juta  transmisi  jarak_tempuh_km
0    Toyota   2019         250  Automatic            40000
2    Suzuki   2018         180     Manual            60000
3  Daihatsu   2019         170     Manual            50000
5    Nissan   2017         190  Automatic            70000

---

**3. Mobil "Seperti Baru" (Tantangan Ekstra): Pelanggan ini sangat spesifik. Mereka mencari mobil dengan kriteria:**
- Jarak tempuh kurang dari 30.000 km.
- DAN merupakan mobil 'Automatic'.
- DAN harganya di atas 280 juta.

In [31]:
filter_mobil = (
    (df_mobil_lengkap['jarak_tempuh_km'] < 30000) & (df_mobil_lengkap['transmisi'] == 'Automatic') & (df_mobil_lengkap['harga_juta'] > 280))
df_mobil_spesifik = df_mobil_lengkap[filter_mobil]
df_mobil_spesifik



# additional filtering examples
# filter_mobil = np.logical_and(df_mobil_lengkap['jarak_tempuh_km'] < 30000,
#                               np.logical_and(df_mobil_lengkap['transmisi'] == 'Automatic', df_mobil_lengkap['harga_juta'] > 280)
# )
# df_mobil_spesifik = df_mobil_lengkap[filter_mobil]
# df_mobil_spesifik

        merek  tahun  harga_juta  transmisi  jarak_tempuh_km
4  Mitsubishi   2021         300  Automatic            15000
6       Mazda   2020         290  Automatic            25000