In [ ]:
# Your first inner join

# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on="vid")

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

In [ ]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=("_own", "_veh"))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

In [ ]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

In [ ]:
# Inner joins and number of rows returned

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on="ward")

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

In [ ]:
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on="ward")

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

In [ ]:
# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on="ward")

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

In [1]:
import pandas as pd

df_karyawan = pd.DataFrame({
    'id_karyawan': ['K01', 'K02', 'K03', 'K04'],
    'nama': ['Adi', 'Budi', 'Cici', 'Dedi'],
    'id_dept': ['D01', 'D02', 'D01', 'D03']
})

df_departemen = pd.DataFrame({
    'id_dept': ['D01', 'D02'],
    'nama_dept': ['Sales', 'Marketing']
})


inner_join = df_karyawan.merge(df_departemen, on='id_dept')
inner_join

  id_karyawan  nama id_dept  nama_dept
0         K01   Adi     D01      Sales
1         K02  Budi     D02  Marketing
2         K03  Cici     D01      Sales