In [4]:
import pandas as pd

# Data karyawan dari project sebelumnya
karyawan = {
    'id_karyawan': [101, 102, 103, 104, 105],
    'nama': ['Andi', 'Budi', 'Citra', 'Dina', 'Eka'],
    'id_departemen': [1, 1, 2, 3, None]
}
data_karyawan = pd.DataFrame(karyawan)

# Atur 'id_karyawan' sebagai indeks
data_karyawan_indexed = data_karyawan.set_index('id_karyawan')

print("--- Data Karyawan dengan Indeks ---")
print(data_karyawan_indexed)

--- Data Karyawan dengan Indeks ---
              nama  id_departemen
id_karyawan
101           Andi            1.0
102           Budi            1.0
103          Citra            2.0
104           Dina            3.0
105            Eka            NaN

In [5]:
# Data Gaji
gaji_data = {
    'id_karyawan_gaji': [101, 102, 103, 104],
    'gaji': [10000000, 9500000, 12000000, 9000000]
}
data_gaji = pd.DataFrame(gaji_data)

print("\n--- Data Gaji ---")
print(data_gaji)

--- Data Gaji ---
   id_karyawan_gaji      gaji
0               101  10000000
1               102   9500000
2               103  12000000
3               104   9000000

In [7]:
# Merge dengan left_index=True dan right_on='kolom'
laporan_lengkap = data_karyawan_indexed.merge(
    data_gaji,
    how='left',
    left_index=True,           # Gunakan indeks dari tabel kiri
    right_on='id_karyawan_gaji'  # Cocokkan dengan kolom 'id_karyawan_gaji' dari tabel kanan
)

print("\n--- Laporan Lengkap Karyawan dan Gaji ---")
print(laporan_lengkap)

--- Laporan Lengkap Karyawan dan Gaji ---
      nama  id_departemen  id_karyawan_gaji        gaji
0.0   Andi            1.0               101  10000000.0
1.0   Budi            1.0               102   9500000.0
2.0  Citra            2.0               103  12000000.0
3.0   Dina            3.0               104   9000000.0
NaN    Eka            NaN               105         NaN