**Mini Project: Analisis Data Karyawan dan Proyek**

**Tujuan:**

**Gunakan berbagai metode join untuk menjawab beberapa pertanyaan bisnis.**

----

**Data:**

**Buat tiga DataFrame pandas secara manual**

In [5]:
import pandas as pd

karyawan = {
    'id_karyawan': [101, 102, 103, 104, 105],
    'nama': ['Andi', 'Budi', 'Citra', 'Dina', 'Eka'],
    'id_departemen': [1, 1, 2, 3, None]
}
data_karyawan = pd.DataFrame(karyawan)

departemen = {
    'id_departemen': [1, 2, 4],
    'nama_departemen': ['Teknologi', 'Pemasaran', 'Keuangan']
}
data_departement = pd.DataFrame(departemen)

proyek = {
    'id_proyek': ['P1', 'P2', 'P3'],
    'nama_proyek': ['Aplikasi Mobile', 'Riset Pasar', 'Sistem Gaji'],
    'penanggung_jawab': [101, 103, 106]
}
data_proyek = pd.DataFrame(proyek)


# Tampilkan data untuk memastikan semuanya benar
print("--- Data Karyawan ---")
print(data_karyawan)
print("\n--- Data Departement ---")
print(data_departement)
print("\n--- Data Proyek ---")
print(data_proyek)

--- Data Karyawan ---
   id_karyawan   nama  id_departemen
0          101   Andi            1.0
1          102   Budi            1.0
2          103  Citra            2.0
3          104   Dina            3.0
4          105    Eka            NaN

--- Data Departement ---
   id_departemen nama_departemen
0              1       Teknologi
1              2       Pemasaran
2              4        Keuangan

--- Data Proyek ---
  id_proyek      nama_proyek  penanggung_jawab
0        P1  Aplikasi Mobile               101
1        P2      Riset Pasar               103
2        P3      Sistem Gaji               106

---

**Tugas:**

**1. Laporan Karyawan dan Departemen (Left Join)**

- Gabungkan karyawan dan departemen untuk membuat daftar semua karyawan dan nama departemen mereka.
- Pertanyaan: Siapakah karyawan yang belum memiliki departemen? (Lihat baris mana yang memiliki nama_departemen kosong/NaN)

**2. Laporan Penuh Departemen (Right Join)**

- Gabungkan karyawan dan departemen untuk membuat daftar semua departemen yang ada di perusahaan dan siapa saja karyawan di dalamnya.
- Pertanyaan: Departemen mana yang saat ini tidak memiliki karyawan?

**3. Laporan Karyawan dan Penanggung Jawab Proyek (Outer Join)**

- Gabungkan karyawan dan proyek. Gunakan left_on='id_karyawan' dan right_on='penanggung_jawab'.
- Pertanyaan: Siapa karyawan yang tidak menjadi penanggung jawab proyek? Proyek mana yang penanggung jawabnya bukan merupakan karyawan internal (ID-nya tidak ada di tabel karyawan)?

----

**1. Laporan Karyawan dan Departemen (Left Join)**

In [10]:
# siapa yang belum memiliki departement?

karyawan_dan_departement = data_karyawan.merge(data_departement, on='id_departemen', how='left')
karyawan_dan_departement

   id_karyawan   nama  id_departemen nama_departemen
0          101   Andi            1.0       Teknologi
1          102   Budi            1.0       Teknologi
2          103  Citra            2.0       Pemasaran
3          104   Dina            3.0             NaN
4          105    Eka            NaN             NaN

---

**2. Laporan Penuh Departemen (Right Join)**

In [11]:
# departement mana yang saat ini yang tidak memiliki karyawan

whos = data_karyawan.merge(data_departement, on='id_departemen', how='right')
whos

   id_karyawan   nama  id_departemen nama_departemen
0        101.0   Andi            1.0       Teknologi
1        102.0   Budi            1.0       Teknologi
2        103.0  Citra            2.0       Pemasaran
3          NaN    NaN            4.0        Keuangan

---

**3. Laporan Karyawan dan Penanggung Jawab Proyek (Outer Join)**

In [13]:
# Siapa karyawan yang tidak menjadi penanggung jawab proyek? 
# Proyek mana yang penanggung jawabnya bukan merupakan karyawan internal (ID-nya tidak ada di tabel karyawan)?

karyawan_dan_responsibility = data_karyawan.merge(data_proyek, left_on='id_karyawan', right_on='penanggung_jawab', how='outer')
karyawan_dan_responsibility

,id_karyawan,nama,id_departemen,id_proyek,nama_proyek,penanggung_jawab
0,101.0,Andi,1.0,P1,Aplikasi Mobile,101.0
1,102.0,Budi,1.0,NaN,NaN,NaN
2,103.0,Citra,2.0,P2,Riset Pasar,103.0
3,104.0,Dina,3.0,NaN,NaN,NaN
4,105.0,Eka,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,P3,Sistem Gaji,106.0