**Pendahuluan**
- dalam proyek in fokus utama adalah cleaning atau preparation dataset pada transaksi yang sukses ( seperti penanganan missing value dan sebagainya)

- fokus utama dataset ialah
1.  olist_orders_dataset.csv -> Data Master Pesanan (Tanggal, Status, ID)
2. olist_order_items_dataset.csv -> Detail produk di setiap pesanan
3. olist_products_dataset.csv -> Detail Produk (Nama Kategori, ID)
4. product_category_name_translation.csv -> Kamus Terjemahan Kategori (Português $\rightarrow$ English)

-----

**import dataset**

In [1]:
import pandas as pd

# dataPesanan
df_orders = pd.read_csv('olist_orders_dataset.csv')
# dataDetailProduk_setiap pesanan
df_orders_items = pd.read_csv('olist_order_items_dataset.csv')


# Lihat 5 baris pertama_orders_Pesanan
print(df_orders.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

----

**merge table untuk memperkaya insight**

In [2]:
# Gabungkan Orders (Kiri) dengan Order Items (Kanan)
# Gunakan how='left' untuk melihat apakah ada order yang tidak punya item
df_merged = df_orders.merge(df_orders_items, on='order_id', how='left')

# Cek apakah ada "Kotoran" (Order tanpa item)
if df_merged['product_id'].isnull().sum() > 0:
    print("Ada order tanpa item. Periksa data lebih lanjut. we got first dirty data")
else:
    print("Semua order punya item. Data bersih dari order tanpa item.")
 
print('=='*40)
print("Jumlah Order tanpa Item:", df_merged['product_id'].isnull().sum())
print('=='*40)
print(df_merged['order_status'].unique())

Ada order tanpa item. Periksa data lebih lanjut. we got first dirty data
================================================================================
Jumlah Order tanpa Item: 775
================================================================================
['delivered' 'invoiced' 'shipped' 'processing' 'unavailable' 'canceled'
 'created' 'approved']

----

**Hitung jumlah statusnya dan melihat distribusinya**

In [3]:
# Ambil hanya data yang 'product_id'-nya kosong (NaN)
df_orders_no_items = df_merged[df_merged['product_id'].isnull()]

# Hitung jumlah statusnya dan melihat distribusinya
print(df_orders_no_items['order_status'].value_counts())

order_status
unavailable    603
canceled       164
created          5
invoiced         2
shipped          1
Name: count, dtype: int64

---
**(Drop Rows)**

- an insight -> tujuan kita biasanya ingin menganalisis "Penjualan" (Revenue/Sales), order yang tidak ada barangnya (artinya tidak ada harganya) adalah SAMPAH atau hanya mengambil data yang benar2 terjual.

In [4]:
# RINGKAS ambil yang benar benar delivered (Whitelisting)
# Daripada membuang sampah satu-satu, ambil saja berliannya.
df_clean_final = df_merged[df_merged['order_status'] == 'delivered']

print(df_clean_final['order_status'].value_counts())

print('=='*40)

print(df_clean_final.head(5))

order_status
delivered    110197
Name: count, dtype: int64
================================================================================
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date  order_item_id  \
0           2017-10-18 00:00:00            1.0
1           2018-08-13 00:00:00            1.0
2           2018-09-04 00:00:00            1.0
3           2017-12-15 00:00:00            1.0
4           2018-02-26 00:00:00            1.0

                         product_id                         seller_id  \
0  87285b34884572647811a353c7ac498a  3504c0cb71d7fa48d967e0e4c94d59d9
1  595fac2a385ac33a80bd5114aec74eb8  289cdb325fb7e7f891c38608bf9e0962
2  aa4383b373c6aca5d8797843e5594415  4869f7a5dfa277a7dca6462dcf3b52b2
3  d0b61bfb1de832b15ba9d266ca96e5b0  66922902710d126a0e7d26b0e3805106
4  65266b2da20d04dbe00c5c2d3bb7859e  2c9e548be18521d1c43cde1c582c6de8

   shipping_limit_date   price  freight_value
0  2017-10-06 11:07:15   29.99           8.72
1  2018-07-30 03:24:27  118.70          22.76
2  2018-08-13 08:55:23  159.90          19.22
3  2017-11-23 19:45:59   45.00          27.20
4  2018-02-19 20:31:37   19.90           8.72

----
**Double Merge untuk mengubah kode product_id $\rightarrow$ Nama Portugis $\rightarrow$ Nama Inggris.**

In [5]:
# dataProduk
df_products = pd.read_csv('olist_products_dataset.csv')

print(df_products.head())

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

In [6]:
# Tempelkan Nama Portugis ke Data Transaksi
# merge ke df_clean_final yang sudah di whitelis
df_step1 = pd.merge(df_clean_final, df_products, on='product_id', how='left')
print(df_step1[['order_id', 'order_status', 'product_category_name']].head())

                           order_id order_status  product_category_name
0  e481f51cbdc54678b7cc49136f2d6af7    delivered  utilidades_domesticas
1  53cdb2fc8bc7dce0b6741e2150273451    delivered             perfumaria
2  47770eb9100c2d0c44946d9cf07ec65d    delivered             automotivo
3  949d5b44dbf5de918fe9c16f97b45f8a    delivered               pet_shop
4  ad21c59c0840e6cb83a9ceb5573f8159    delivered              papelaria

In [7]:
# dataKamusKategoriProduk
df_product_category_name_translation = pd.read_csv('product_category_name_translation.csv')
print(df_product_category_name_translation.head())

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [8]:
# Tempelkan Nama Inggris (Translate)
# (Merge berdasarkan kolom 'product_category_name' yang bahasa Portugis)
df_master = pd.merge(df_step1, df_product_category_name_translation, on='product_category_name', how='left')
df_master[['order_id', 'product_category_name', 'product_category_name_english']].head()

,order_id,product_category_name,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,utilidades_domesticas,housewares
1,53cdb2fc8bc7dce0b6741e2150273451,perfumaria,perfumery
2,47770eb9100c2d0c44946d9cf07ec65d,automotivo,auto
3,949d5b44dbf5de918fe9c16f97b45f8a,pet_shop,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,papelaria,stationery

In [9]:
# Buang kolom yang tidak perlu
# hanya butuh 'product_category_name_english', membuang portugis supaya rapih .
df_master_clean = df_master.drop(columns=['product_category_name'])
df_master_clean = df_master_clean.rename(columns={'product_category_name_english': 'category'})

# LIHAT HASILNYA!
print(df_master_clean[['order_id', 'price', 'category']].head())

                           order_id   price    category
0  e481f51cbdc54678b7cc49136f2d6af7   29.99  housewares
1  53cdb2fc8bc7dce0b6741e2150273451  118.70   perfumery
2  47770eb9100c2d0c44946d9cf07ec65d  159.90        auto
3  949d5b44dbf5de918fe9c16f97b45f8a   45.00    pet_shop
4  ad21c59c0840e6cb83a9ceb5573f8159   19.90  stationery

In [10]:
df_master_clean.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,category
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,...,118.70,22.76,29.0,178.0,1.0,400.0,19.0,13.0,19.0,perfumery
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,...,159.90,19.22,46.0,232.0,1.0,420.0,24.0,19.0,21.0,auto
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,...,45.00,27.20,59.0,468.0,3.0,450.0,30.0,10.0,20.0,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,1.0,65266b2da20d04dbe00c5c2d3bb7859e,...,19.90,8.72,38.0,316.0,4.0,250.0,51.0,15.0,15.0,stationery

---
**Checkpoint (Cek & Ricek)**

In [11]:
# Cek apakah ada produk yang GAGAL diterjemahkan?
# (biasanya terdapat nama portugis yang gak ada di kamus translate, jadi NaN)
jumlah_gagal = df_master_clean['category'].isnull().sum()
print(f"Kategori yang masih kosong (NaN): {jumlah_gagal}")

# Cek Tipe Data Tanggal
# Kolom waktu seringkali dianggap Teks (Object) oleh Python
print("\nTipe Data Sebelum Diubah:")
print(df_master_clean['order_purchase_timestamp'].dtype)

Kategori yang masih kosong (NaN): 1559

Tipe Data Sebelum Diubah:
object

In [12]:
# Tambal Kategori Kosong
# isi dengan 'others' supaya aman
df_master_clean['category'] = df_master_clean['category'].fillna('others')

# Ubah Teks Tanggal jadi Format Waktu (Datetime)
df_master_clean['order_purchase_timestamp'] = pd.to_datetime(df_master_clean['order_purchase_timestamp'])

# --- CEK HASIL AKHIR ---
print("Sisa Kategori Kosong:", df_master_clean['category'].isnull().sum())
print("Tipe Data Tanggal:", df_master_clean['order_purchase_timestamp'].dtype)

Sisa Kategori Kosong: 0
Tipe Data Tanggal: datetime64[ns]

In [13]:
# df_master_clean.to_csv('data_clean_siap_pakai_brazilian_e.csv', index=False)

---
**Menambahkan Peta ke Data**

In [14]:
# Load Data Customer
df_customers = pd.read_csv('olist_customers_dataset.csv')
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [15]:
# Merge 
# gabungkan berdasarkan 'customer_id'
df_master_geo = pd.merge(df_master_clean, df_customers, on='customer_id', how='left')

In [16]:

# Harus ada kolom kota dan state
print(df_master_geo[['order_id', 'category', 'customer_city', 'customer_state']].head())

# 4. (Optional) Cek apakah ada customer ID yang tidak dikenali?
print("Customer tanpa lokasi:", df_master_geo['customer_city'].isnull().sum())

                           order_id    category            customer_city  \
0  e481f51cbdc54678b7cc49136f2d6af7  housewares                sao paulo
1  53cdb2fc8bc7dce0b6741e2150273451   perfumery                barreiras
2  47770eb9100c2d0c44946d9cf07ec65d        auto               vianopolis
3  949d5b44dbf5de918fe9c16f97b45f8a    pet_shop  sao goncalo do amarante
4  ad21c59c0840e6cb83a9ceb5573f8159  stationery              santo andre

  customer_state
0             SP
1             BA
2             GO
3             RN
4             SP
Customer tanpa lokasi: 0

we had 4 dimension dataset:
- WHO: Customer ID (Unik).
- WHAT: Kategori Produk (Housewares, Auto, dll).
- WHEN: Tanggal Pembelian (Datetime).
- WHERE: Lokasi (Sao Paulo, Rio, dll).

In [17]:
# Simpan versi Final + Geo
df_master_geo.to_csv('olist_clean_geo.csv', index=False)

print("✅ Dataset Lengkap (dengan Lokasi) tersimpan aman!")

✅ Dataset Lengkap (dengan Lokasi) tersimpan aman!

-----

In [20]:
df_master_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110197 entries, 0 to 110196
Data columns (total 26 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       110197 non-null  object
 1   customer_id                    110197 non-null  object
 2   order_status                   110197 non-null  object
 3   order_purchase_timestamp       110197 non-null  datetime64[ns]
 4   order_approved_at              110182 non-null  object
 5   order_delivered_carrier_date   110195 non-null  object
 6   order_delivered_customer_date  110189 non-null  object
 7   order_estimated_delivery_date  110197 non-null  object
 8   order_item_id                  110197 non-null  float64
 9   product_id                     110197 non-null  object
 10  seller_id                      110197 non-null  object
 11  shipping_limit_date            110197 non-null  object
 12  price                          110197 non-null  float64
 13  freight_value                  110197 non-null  float64
 14  product_name_lenght            108660 non-null  float64
 15  product_description_lenght     108660 non-null  float64
 16  product_photos_qty             108660 non-null  float64
 17  product_weight_g               110179 non-null  float64
 18  product_length_cm              110179 non-null  float64
 19  product_height_cm              110179 non-null  float64
 20  product_width_cm               110179 non-null  float64
 21  category                       110197 non-null  object
 22  customer_unique_id             110197 non-null  object
 23  customer_zip_code_prefix       110197 non-null  int64
 24  customer_city                  110197 non-null  object
 25  customer_state                 110197 non-null  object
dtypes: datetime64[ns](1), float64(10), int64(1), object(14)
memory usage: 21.9+ MB