**Anda adalah seorang analis data junior di sebuah toko ritel kecil. Bos Anda memberi Anda beberapa data penjualan harian dalam format yang sedikit berantakan. Tugas Anda adalah `membersihkan dan menganalisisnya hanya menggunakan List dan Fungsi List Bawaan (seperti .append(), .remove(), .sort(), len(), sum(), dll)`**

---

**Skenario & Data Awal:**
- Anda memiliki data transaksi hari ini dalam sebuah list bernama `transaksi_kotor.` Setiap elemen adalah jumlah uang yang dibayarkan pelanggan. Sayangnya, ada beberapa kesalahan

In [12]:
# Data Awal Anda
transaksi_kotor = [150000, "250000", 50000, 300000, "DATA_RUSAK", 125000, 75000, -50000, "100000"]

print(transaksi_kotor)

[150000, '250000', 50000, 300000, 'DATA_RUSAK', 125000, 75000, -50000, '100000']

----

**Pembersihan Data (Data Cleaning) Bos Anda ingin tahu berapa total penjualan hari ini, tapi data di atas tidak bisa langsung dijumlahkan.**

In [13]:
transaksi_bersih = []

for item in transaksi_kotor:
    try:
        # ubah ke integer
        nilai = int(item)
        # hanya ambil nilai positif
        if nilai > 0:
            transaksi_bersih.append(nilai)
    except (ValueError, TypeError):
        # kalau data rusak, lewati
        continue

print(transaksi_bersih)

[150000, 250000, 50000, 300000, 125000, 75000, 100000]

---

**Analisis Statistik Sederhana Setelah data bersih, bos Anda ingin beberapa statistik dasar.**

In [14]:
# hitung jumlah transaksi
print("total transaksi/ banyaknya transaksi:", len(transaksi_bersih))

# hitung total penjualan
print("total penjualan:", sum(transaksi_bersih))

# rata-rata penjualan
import numpy as np
print("Avg Sales:", np.mean(transaksi_bersih))

total transaksi/ banyaknya transaksi: 7
total penjualan: 1050000
Avg Sales: 150000.0

---
**Menemukan Wawasan (Insight) Bos Anda ingin tahu nilai transaksi tertinggi dan terendah yang terjadi hari ini**

In [18]:
# urutkan data ascending
urutkan_data = sorted(transaksi_bersih)
print("hasil diurutkan", urutkan_data)

# max transaksi
print("Transaksi tertinggi:", max(transaksi_bersih))
# min transaksi
print("Transaksi terendah:", min(transaksi_bersih))

hasil diurutkan [50000, 75000, 100000, 125000, 150000, 250000, 300000]
Transaksi tertinggi: 300000
Transaksi terendah: 50000

In [20]:
rata = sum(transaksi_bersih) / len(transaksi_bersih)
print(rata)

transaksi_bersih.sort()
print(transaksi_bersih)

150000.0
[50000, 75000, 100000, 125000, 150000, 250000, 300000]

-----