**Studi Kasus 11: "The Excel Killer"**

- Skenario: Bos Anda minta laporan: "Tolong buatkan tabel yang barisnya adalah Tanggal, kolomnya adalah Nama Produk, dan isinya adalah Jumlah Terjual."

----

In [1]:
import pandas as pd

data = {
    'tanggal': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-01'],
    'produk': ['Roti', 'Susu', 'Roti', 'Susu', 'Kopi'],
    'terjual': [10, 5, 12, 8, 20]
}

df = pd.DataFrame(data)
print("--- Data Mentah ---")
print(df)

--- Data Mentah ---
      tanggal produk  terjual
0  2023-01-01   Roti       10
1  2023-01-01   Susu        5
2  2023-01-02   Roti       12
3  2023-01-02   Susu        8
4  2023-01-01   Kopi       20

In [2]:
pd.pivot_table(
    data=df, 
    index='tanggal',    # Apa yang mau jadi Baris?
    columns='produk',   # Apa yang mau jadi Kolom?
    values='terjual',   # Nilai apa yang mau dihitung?
    aggfunc='sum'       # Diapakan nilainya? (sum, mean, count)
)

produk      Kopi  Roti  Susu
tanggal
2023-01-01  20.0  10.0   5.0
2023-01-02   NaN  12.0   8.0

In [3]:
pivot_laporan = pd.pivot_table(
    data=df, 
    index='tanggal', 
    columns='produk', 
    values='terjual', 
    aggfunc='sum',
    fill_value=0  # <--- Jurus rahasia: Mengisi data kosong otomatis dengan 0
)

print("--- Laporan Pivot Final (Clean) ---")
print(pivot_laporan)

--- Laporan Pivot Final (Clean) ---
produk      Kopi  Roti  Susu
tanggal
2023-01-01    20    10     5
2023-01-02     0    12     8