**Proyek Akhir: Mengkategorikan Data Mobil**

***Skenario: Manajer Anda sangat puas dengan analisis sebelumnya. Sekarang, ia ingin Anda menambahkan sebuah kolom baru ke dalam data mobil untuk mengkategorikan setiap mobil berdasarkan harganya. Ini akan membantu tim penjualan untuk dengan cepat merekomendasikan mobil sesuai budget pelanggan.***

---

**Tantangan**

1. Buat Loop untuk Kategorisasi Harga
- Buat sebuah list kosong bernama kategori_harga.
- Gunakan for loop dengan .iterrows() untuk melakukan iterasi pada setiap baris di df_mobil_lengkap.
- Di dalam loop, gunakan struktur if-elif-else untuk memeriksa kolom harga_juta pada setiap baris (baris['harga_juta']):
- Jika harganya di atas 280 juta, tambahkan string 'Premium' ke dalam list kategori_harga.
- Jika tidak, periksa apakah harganya di atas 200 juta. Jika ya, tambahkan string 'Menengah' ke list kategori_harga.
- Jika tidak keduanya, tambahkan string 'Ekonomis' ke list kategori_harga.

2. Tambahkan Kolom Baru ke DataFrame

- Setelah loop selesai, tambahkan kategori_harga sebagai kolom baru bernama 'kategori' ke dalam df_mobil_lengkap.
- Cetak keseluruhan df_mobil_lengkap untuk melihat hasilnya.

3. (Tantangan Ekstra) Hitung Jumlah Mobil per Kategori
- Setelah kolom baru ditambahkan, gunakan metode .value_counts() pada kolom 'kategori' untuk menghitung ada berapa banyak mobil di setiap kategori harga.
   - Contoh: df_mobil_lengkap['kategori'].value_counts()

---

**Data yang Digunakan**

In [26]:
import pandas as pd

data_mobil_lengkap = {
    'merek': ['Toyota', 'Honda', 'Suzuki', 'Daihatsu', 'Mitsubishi', 'Nissan', 'Mazda'],
    'tahun': [2019, 2020, 2018, 2019, 2021, 2017, 2020],
    'harga_juta': [250, 280, 180, 170, 300, 190, 290],
    'transmisi': ['Automatic', 'Manual', 'Manual', 'Manual', 'Automatic', 'Automatic', 'Automatic'],
    'jarak_tempuh_km': [40000, 30000, 60000, 50000, 15000, 70000, 25000]
}

df_mobil_lengkap = pd.DataFrame(data_mobil_lengkap)
df_mobil_lengkap.head()

        merek  tahun  harga_juta  transmisi  jarak_tempuh_km
0      Toyota   2019         250  Automatic            40000
1       Honda   2020         280     Manual            30000
2      Suzuki   2018         180     Manual            60000
3    Daihatsu   2019         170     Manual            50000
4  Mitsubishi   2021         300  Automatic            15000

-------

**1. Buat Loop untuk Kategorisasi Harga (mengkategorisasikan harga)**

In [27]:
kategori_harga = []

for _, baris in df_mobil_lengkap.iterrows():
    if baris['harga_juta'] > 280:
        kategori_harga.append('Premium')
    elif baris['harga_juta'] > 200:
        kategori_harga.append('Menengah')
    else:
        kategori_harga.append('Ekonomis')

---

**2. Tambahkan Kolom Baru ke DataFrame**

In [28]:
df_mobil_lengkap['kategori_harga'] = kategori_harga
df_mobil_lengkap.sort_values(by='kategori_harga', ascending=False)

        merek  tahun  harga_juta  transmisi  jarak_tempuh_km kategori_harga
4  Mitsubishi   2021         300  Automatic            15000        Premium
6       Mazda   2020         290  Automatic            25000        Premium
0      Toyota   2019         250  Automatic            40000       Menengah
1       Honda   2020         280     Manual            30000       Menengah
2      Suzuki   2018         180     Manual            60000       Ekonomis
3    Daihatsu   2019         170     Manual            50000       Ekonomis
5      Nissan   2017         190  Automatic            70000       Ekonomis

---

**3. (Tantangan Ekstra) Hitung Jumlah Mobil per Kategori**

In [29]:
df_mobil_lengkap['kategori_harga'].value_counts().sort_values(ascending=False)

kategori_harga
Ekonomis    3
Menengah    2
Premium     2
Name: count, dtype: int64

----

# additonal

In [30]:


# melihat merk mobil yang termasuk kategori premium
df_mobil_lengkap[df_mobil_lengkap['kategori_harga'] == 'Premium']['merek']

4    Mitsubishi
6         Mazda
Name: merek, dtype: object

In [31]:
# melihat merk mobil yang termasuk kategori menengah
df_mobil_lengkap[df_mobil_lengkap['kategori_harga'] == 'Menengah']['merek']

0    Toyota
1     Honda
Name: merek, dtype: object

In [32]:
# melihat merk mobil yang termasuk kategori ekonomis
df_mobil_lengkap[df_mobil_lengkap['kategori_harga'] == 'Ekonomis']['merek']

2      Suzuki
3    Daihatsu
5      Nissan
Name: merek, dtype: object

In [33]:
# melihat merk mobil dengan harga tertinggi
mobil_harga_tinggi = df_mobil_lengkap[df_mobil_lengkap['harga_juta'] == df_mobil_lengkap['harga_juta'].max()]['merek']
print(f'Mobil dengan harga tertinggi adalah: {mobil_harga_tinggi.values[0]}')


# melihat merk mobil dengan harga terendah
mobil_harga_rendah = df_mobil_lengkap[df_mobil_lengkap['harga_juta'] == df_mobil_lengkap['harga_juta'].min()]['merek']
print(f'Mobil dengan harga terendah adalah: {mobil_harga_rendah.values[0]}')

Mobil dengan harga tertinggi adalah: Mitsubishi
Mobil dengan harga terendah adalah: Daihatsu