**Proyek Akhir Bab: Mengiris & Mengindeks Data Penjualan**

**Skenario: Analisis Anda sejauh ini sangat membantu. Sekarang, manajer penjualan ingin melihat data dari periode waktu tertentu dan juga ingin analisis yang lebih detail berdasarkan kategori dan produk. Tugas Anda adalah menggunakan kemampuan indexing dan slicing Anda untuk menyajikan data ini.**

---

**Tantangan**
**1. Analisis Berdasarkan Periode Waktu (Slicing Indeks Tanggal)**
- Buat DataFrame baru bernama df_tgl dengan mengatur kolom 'Tanggal' sebagai indeks dan mengurutkannya.
- Gunakan slicing dengan .loc pada df_tgl untuk menampilkan semua transaksi yang terjadi dari tanggal '2024-07-01' hingga '2024-07-03'.

**2. Analisis Detail per Kategori & Produk (Indeks Multi-Level)**
- Buat DataFrame baru bernama df_multi_indeks dengan mengatur 'Kategori' dan 'Produk' sebagai multi-level index dan mengurutkannya.

- Gunakan .loc untuk memilih dan menampilkan semua data dari kategori 'Elektronik'.
[Gambar dari DataFrame Pandas dengan indeks multi-level]

**3. (Tantangan Ekstra) Laporan Posisi Data (Slicing .iloc)**
- Gunakan .iloc pada DataFrame df_penjualan yang asli (dengan indeks default) untuk memilih:

    - Baris di posisi ke-2 hingga ke-4 (iloc[2:5]).

    - DAN hanya kolom di posisi ke-1 ('Produk') dan ke-6 ('Total Pendapatan').

    - Tampilkan hasilnya.


----

**Data yang Digunakan**

In [2]:
import pandas as pd
import numpy as np

data_penjualan = {
    'Tanggal' : ['2024-07-01', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-03', '2024-07-04'],
    'Produk' : ['Laptop', 'Mouse', 'Laptop', 'Monitor', 'Keyboard', 'Mouse'],
    'Kategori': ['Elektronik', 'Aksesoris', 'Elektronik', 'Elektronik', 'Aksesoris', 'Aksesoris'],
    'Harga Satuan': [15000000, 150000, 15500000, 3500000, 750000, 160000],
    'Jumlah Terjual': [5, 10, 3, 7, 8, 12]
}


df_penjualan = pd.DataFrame(data_penjualan)
df_penjualan['Total Pendapatan'] = np.array(df_penjualan['Harga Satuan']) * np.array(df_penjualan['Jumlah Terjual'])

df_penjualan

,Tanggal,Produk,Kategori,Harga Satuan,Jumlah Terjual,Total Pendapatan
0,2024-07-01,Laptop,Elektronik,15000000,5,75000000
1,2024-07-01,Mouse,Aksesoris,150000,10,1500000
2,2024-07-02,Laptop,Elektronik,15500000,3,46500000
3,2024-07-03,Monitor,Elektronik,3500000,7,24500000
4,2024-07-03,Keyboard,Aksesoris,750000,8,6000000
5,2024-07-04,Mouse,Aksesoris,160000,12,1920000

---

**1. Analisis Berdasarkan Periode Waktu (Slicing Indeks Tanggal)**

In [3]:
df_penjualan['Tanggal'] = pd.to_datetime(df_penjualan['Tanggal'])
df_penjualan.set_index('Tanggal', inplace=True)

# slicing pada tanggal '2024-07-01' hingga '2024-07-03' dengan .loc
time_periode = df_penjualan.loc['2024-07-01':'2024-07-03']
time_periode

,Produk,Kategori,Harga Satuan,Jumlah Terjual,Total Pendapatan
Tanggal,,,,,
2024-07-01,Laptop,Elektronik,15000000,5,75000000
2024-07-01,Mouse,Aksesoris,150000,10,1500000
2024-07-02,Laptop,Elektronik,15500000,3,46500000
2024-07-03,Monitor,Elektronik,3500000,7,24500000
2024-07-03,Keyboard,Aksesoris,750000,8,6000000

----

**2. Analisis Detail per Kategori & Produk (Indeks Multi-Level)**

In [4]:
df_multi_indeks = df_penjualan.set_index(['Kategori', 'Produk']).sort_index()
df_elektronik = df_multi_indeks.loc['Elektronik']
df_elektronik

         Harga Satuan  Jumlah Terjual  Total Pendapatan
Produk
Laptop       15000000               5          75000000
Laptop       15500000               3          46500000
Monitor       3500000               7          24500000

----

**3. (Tantangan Ekstra) Laporan Posisi Data (Slicing .iloc)**

In [5]:
# Menampilkan baris ke-2 sampai ke-4 dan kolom ke-0 (Produk) dan kolom ke-4 (Total Pendapatan)

data_position = df_penjualan.iloc[2:5, [0, 4]]
data_position

              Produk  Total Pendapatan
Tanggal
2024-07-02    Laptop          46500000
2024-07-03   Monitor          24500000
2024-07-03  Keyboard           6000000